* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background: rgb(131, 106, 155);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

footer {
  position: absolute;
  bottom: 2%;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container .cont {
  height: 100%;
  position: relative;
}

.container .cont i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}

#form #pass {
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  margin-right: 20px;
  width: 100%;
}
.container .requirments {
  font-size: 18px;
  margin-top: 20px;
}

.container .requirments ul li {
  list-style-type: none;
  padding: 10px 0px;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

.container .requirments ul li i {
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
}

.container .requirments ul li i.fa-check {
  font-size: 20px;
  color: blue !important;
}

.container .requirments ul li.valid {
  opacity: 1;
}

@media (max-width: 390px) {
  .container {
    margin: 15px;
  }
}
